.col-md-1
.col-md-5
  = image_tag 'volume-two.jpg', class: "img-responsive"
.col-md-5.book-text
  %h2
    nothing. volume two.
  %p.lead.book-caption
    words and things.

  %p
    The book is available in print format here:

  %ul
    %li= link_to "Amazon Canada", "http://www.amazon.ca/nothing-two-Adnan-Ali/dp/0992139805"
    %li= link_to "Amazon US", "http://www.amazon.com/Nothing-vol-1-Adnan-Ali/dp/1492344443"
    %li= link_to "Amazon UK", "http://www.amazon.co.uk/nothing-two-Adnan-Ali/dp/0992139805"
    %li= link_to "Barnes & Noble", "http://www.barnesandnoble.com/w/nothing-volume-two-adnan-ali/1121496433?ean=9780992139803"
      
  %p
    And it is also available here for download:

  %ul
    %li= link_to "nothing. volume two. pdf", "/volume-two/book.pdf"

.col-md-1


